/* General setup */

* {
    box-sizing: border-box;
  }
  
body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}
  
  /* Layout */
  
section {
    float: left;
    width: 50%;
}
  
aside {
    float: left;
    width: 30%;
}
  
nav {
    float: left;
    width: 20%;
}
  
footer {
    clear: both;
}
  
header, section, aside, nav, footer {
    padding: 20px;
}
  
  /* header and footer */
  
header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}
  
  /* WRITE YOUR CODE BELOW HERE */

body {
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 2px;
    word-spacing: 1px;
}

header {
    font-size: 20px;
    text-align: center;
}

section p {
    text-indent: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 180px;
    background-color: #dfdbdb;
}
  
nav li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #555;
    color: white;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h1, h2 {
    letter-spacing: 1px;
}

ul, ol {
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding-left: 25px
}

a:link, a:visited {
    color: #a66;
}
  
a:hover {
    color: rgb(1, 90, 1);
    text-decoration: none;
}

p a::after {
    content: url("external-link-52.png");
}

a:hover {
    color: #004361; 
    text-decoration: none;
}
  
a:focus {
    outline: none; 
    border-bottom: 2px solid #a66; 
    text-decoration: none;
}